---
import Preview from "../components/Preview.astro";
import Sidebar from "../components/Sidebar.astro";
import '../../public/styles.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
        <script>
            // Add mouse hover preview for links
            document.addEventListener('DOMContentLoaded', () => {
                const links = document.querySelectorAll('a');
                const iframe:HTMLIFrameElement = document.getElementById('preview-frame');
                if(!iframe) return;
                links.forEach(link => {
                    link.addEventListener('mouseover', () => {
                        // Show the preview component
                        link.style.color = 'rgb(78, 80, 86)';
                        // Change iframe src
                        iframe.src = link.href;
                        iframe.style.display = 'block';

                        // Change iframe position to be near the link
                        const rect = link.getBoundingClientRect();
                        iframe.style.position = 'absolute';
                        iframe.style.top = `${rect.bottom + window.scrollY + 5}px`;
                        iframe.style.left = `${rect.left + window.scrollX}px`;
                    });
                    link.addEventListener('mouseout', () => {
                        link.style.color = '';
                        // Check if the mouse is over the iframe and if so, do not hide it
                        setTimeout(()=>{
                            if(!iframe.matches(':hover')){
                                iframe.style.display = 'none';
                            }
                        }, 100);
                    });
                })
                iframe.addEventListener('mouseout', ()=>{
                    iframe.style.display = 'none';
                })
            });
        </script>
	</head>
	<body>
        <div class="sidebar-container">
            <Sidebar />
        </div>
        <main>
            <slot />
            <iframe id="preview-frame" class="preview" />
        </main>
	</body>
</html>